<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Login Test Suite">
    <listeners>
        <listener class-name="com.phannhubao.logintest.listeners.TestResultListener"/>
    </listeners>
    <test name="SauceDemo Login Tests">
        <classes>
            <class name="com.phannhubao.logintest.tests.LoginTest"/>
        </classes>
    </test>
</suite>
